header {
    background-color:#ffffff ;
    text-align: left;
    padding: 20 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav#menu { 
    background-color: transparent;
    padding: 0;
}

nav#menu ul {
    list-style: none;  /* Removes the bullet points from the list */
    display: flex;  /* Display the menu items horizontally */
    margin: 0;
    padding: 0;
}

nav#menu ul li {
    margin-right: 20px;  
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;
}



nav#menu ul li a {
    text-decoration: none;
    color: #000000;  
    font-size: 1em;
    height: 50px;
}

nav#menu ul li a:hover {
    opacity: 0.7;
    border-radius: 5px;  /* Rounded corners for hover */
}

nav#menu ul li:nth-child(5) a {
    color: white; 
}

nav#menu ul li:nth-child(5) {
    background-color: black; 
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;

}



main {
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    margin: 0 100px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    box-sizing: border-box; 
}

h2{
    color:white !important;
    background-color: #4681AC;
    padding: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F7F7F7;
    padding : 20px;
    border-radius: 15px;
    width: 1000px;
    margin: 0 auto;
  }

  .space{
    height : 40px;
    color: #F7F7F7;
}

.container2{
    margin-top: 100px;
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F7F7F7;
    color: #F7F7F7;
    padding : 20px;
    margin: 0 auto;
    border-radius: 15px;
}
  