.headerText{
    color:white;
    background-color: #4681AC;
    padding: 40px;
    font-size: 40px;
}

/*-----------------------Header-----------------------*/

.buttonSubmitTimesheet{
    color:white;
    background-color: #000000;
    font-size: 15px;
    text-align: center;
    border-radius:20px;
    border-color: #4080AF;
    font-weight: bold;
    padding: 15px 20px;
    float: right;
    margin: 4em 4em 80em 80em;
    cursor: pointer;
    position: absolute;
    
}
.buttonSubmitTimesheet:hover{
    opacity: 0.8;
    border-radius: 20px;
}




header {
    background-color:#ffffff ;
    text-align: left;
    padding: 20 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav#menu { 
    background-color: transparent;
    padding: 0;
}

nav#menu ul {
    list-style: none;  /* Removes the bullet points from the list */
    display: flex;  /* Display the menu items horizontally */
    margin: 0;
    padding: 0;
}

nav#menu ul li {
    margin-right: 20px;  
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;
}



nav#menu ul li a {
    text-decoration: none;
    color: #000000;  
    font-size: 1em;
    height: 50px;
}

nav#menu ul li a:hover {
    opacity: 0.7;
    border-radius: 5px;  /* Rounded corners for hover */
}

nav#menu ul li:nth-child(5) a {
    color: white; 
}

nav#menu ul li:nth-child(5) {
    background-color: black; 
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;

}



/*----------------------Table-------------------------*/

.timesheetTable{
    height: 50vh;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: lightslategray;
    font-size: 0.9rem;
    background-color: white;
    
}
table{
    table-layout: fixed;
    width: 90%;
    margin-left: 4em;
    border-collapse: collapse;
    box-shadow: 20px 20px 20px 5px rgb(221, 221, 238);
    background-color: white;
    text-align: center;
}
th{
    background-color: rgb(221, 221, 238);
    padding:0.75rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 950;
}
tbody{
    padding: 1rem 2rem;
}
tr:nth-child(even){
    background-color: lightgray;
}





/*-----------------------Footer-----------------------*/

footer { 
    background-color: #ffffff;
    font-size: 1em;
    font-style: bold;
    text-align: left;
    margin-top: 3em;
    padding: 1em;
    min-height: 100px;
    position: relative; /* Fix the footer to the bottom */
    bottom: 0;
    width: 100%;
    border-top: #c7c7c9 2px solid;
   
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-top: 5em;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #909091;
    color: #ffffff !important;
  
  }
  
  .fa-linkedin {
      background: #909091;
      color: #ffffff !important;
    }
    
    .fa-youtube {
      background: #909091;
      color: #ffffff !important;
    }
    
    .fa-instagram {
      background: #909091;
      color: #ffffff !important;
    }