header {
    background-color: #ffffff !important;
    text-align: left !important;
    padding: 20px 0 !important;
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-bottom: 50px !important;
}

header a img {
    margin-right: 15px !important;
    padding-left: 20px !important;
}

header h1 {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    color: #000000 !important;
    font-family: sans-serif !important;
    font-size: 1.25em !important;
    font-weight: bold !important;
}

nav#menu {
    background-color: transparent !important;
    padding: 0 !important;
    margin-left: auto !important;
}

nav#menu ul {
    list-style: none !important;
    display: flex !important;
    margin-left: 50px !important;
    padding-left: 50px !important;
}

nav#menu ul li {
    margin-right: 20px !important;
    border-radius: 8em !important;
    padding: 20px 20px !important;
    display: inline-block !important;
}

nav#menu ul li a {
    text-decoration: none !important;
    color: #000000 !important;
    font-size: 1em !important;
    height: 50px !important;
}

nav#menu ul li a:hover {
    opacity: 0.7 !important;
    border-radius: 5px !important;
}

nav#menu ul li:nth-child(5) {
    background-color: black !important;
    border-radius: 8em !important;
    padding: 20px 20px !important;
    display: inline-block !important;
    transition: opacity 0.3s !important;
}

nav#menu ul li:nth-child(5) a:hover {
    opacity: 0.7 !important;
    border-radius: 5px !important;
}

nav#menu ul li:nth-child(5) a {
    color: white !important;
}

nav#assignments {
    background-color: #ffffff !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}




.full-width-image {
    width: 100vw;  /* Full viewport width */
    overflow: hidden; /* Prevents scrolling issues */
}

.full-width-image img {
    width: 100%;  /* Makes the image span the full width of its container */
    height: auto; /* Keeps aspect ratio */
    height: 70vh; /* Sets the height to 80% of the viewport height */

}

form
{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 40px;
    margin: 8% auto 0;
    text-align: center;
}

form div label
{
    float: left;
    width: auto;
}

form div input
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 94%;
    border: 1px solid #999;
    outline: none;
}

form h2 
{
    color: #000000; 
    font-family: sans-serif; 
    text-align: center;
    font-size: 2em;
}
form h3 
{
    color: #000000; 
    font-family: sans-serif; 
    text-align: center;
    font-size: 1em;
}
form .login-link a
{
    float: left;
    position: relative;
    color: black;
    margin-bottom: 10px;
}

form button
{
    background-color: black;
    color:white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1em;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    display: center;
}

form button:hover
{
    opacity: 0.7;
    border-radius: 20px;
}

form a.special-link {
    text-decoration: underline;  
    color: #000;                
    font-size: 1em;                      
    margin-top: 10px;
    display: inline-block;        
    margin-right: 290px;          
}

form a.special-link2 {
    text-decoration: underline;  
    color: #000;                
    font-size: 1em;                      
    display: inline-block;   
    margin-top:10px;
    margin-right: 270px;         
    display: none;               
    padding: 0; 
    border: none; 
    background: none;
}

form a.special-link:hover, form a.special-link2:hover {
    opacity: 0.7;                
}

body { 
    background-color: #fff;
    color: #0d0d0e;
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/*-----------------------Footer-----------------------*/

footer { 
    background-color: #ffffff;
    font-size: 1em;
    font-style: bold;
    text-align: left;
    margin-top: 3em;
    padding: 1em;
    min-height: 100px;
    position: relative; /* Fix the footer to the bottom */
    bottom: 0;
    width: 100%;
    border-top: #c7c7c9 2px solid;
   
}

footer #name {
    font-weight: bold;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1em;
}
.footer-contact,
.footer-follow {
    flex: 1;
}

.footer-follow {
    margin-right: 2em;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
}

footer #footer-contact-info{
    font-size: 0.9em;
}

footer #rights {
    font-size: 0.8em;
    margin: 0.5em 0;
    text-align: center;
}

.fa {
    padding: 7px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
    margin-top: 0.8em;
    border: solid gray 0.5px;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
    .fa-facebook {
    background: #1877F2;
    color: #ffffff !important;
    }
  
    .fa-linkedin {
      background: #0077B5;
      color: #ffffff !important;
    }
    
    .fa-youtube {
      background: #FF0000;
      color: #ffffff !important;
    }
    
    .fa-instagram {
      background: linear-gradient(to right,#f9ce34, #ee2a7b, #6228d7);
      color: #ffffff !important;
    }
