
header {
    background-color: #ffffff;
    text-align: left;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Align vertically centered */
    margin-bottom: 50px;
}

header a img {
    margin-right: 15px; /* Adds spacing between the logo and the text */
    padding-left: 20px;
}

header h1 {
    margin: 0; /* Removes any margin around the header text */
    padding-top: 0;
    padding-left: 0;
    color: #000000; /* Ensure the color is black */
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: bold;
}

main-header{
    text-align: left;
    padding: 100px;
    white-space: nowrap;
}
main-header top {
    font-weight: bold;
    font-size: larger;
}
main-header bottom {
    font-weight: lighter;
    font-size: large;
    padding: 100px;
}
frImage {
    display: flex;
    justify-content: center;
}
frImage img {
    width: 85%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
nav#menu { 
    background-color: transparent;
    padding: 0;
    margin-left: auto;
}

nav#menu ul {
    list-style: none;  /* Removes the bullet points from the list */
    display: flex;  /* Display the menu items horizontally */
    margin-left: 50px;  
    padding-left: 50px;
}

nav#menu ul li {
    margin-right: 20px;  
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;
}

nav#menu ul li a {
    text-decoration: none;
    color: #000000;  
    font-size: 1em;
    height: 50px;
    
}

nav#menu ul li a:hover {
    opacity: 0.7;
    border-radius: 5px;  /* Rounded corners for hover */
}


nav#menu ul li:nth-child(5) {
    background-color: black; 
    border-radius: 8em;
    padding: 20px 20px;
    display: inline-block;
    transition: opacity 0.3s;;

}

nav#menu ul li:nth-child(5) a:hover {
    opacity: 0.7;
    border-radius: 5px;  /* Rounded corners for hover */
}

nav#menu ul li:nth-child(5) a {
    color: white;

}

nav#assignments {
    background-color: #ffffff;
    padding: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-width-image {
    width: 100vw;  /* Full viewport width */
    overflow: hidden; /* Prevents scrolling issues */
}

.full-width-image img {
    width: 100%;  /* Makes the image span the full width of its container */
    height: auto; /* Keeps aspect ratio */
    height: 70vh; /* Sets the height to 80% of the viewport height */
}


.card-title {
    font-size: 1.25rem;     
    font-family: 'Arial', sans-serif; 
}

.card-text {
    font-size: 1rem;          
    font-family: 'Arial', sans-serif; 
}

/* Style for View Services Button */
.btn-view-services {
    background-color: #000000; /* Same color as navbar */
    color: rgb(255, 255, 255);
    padding: 25px 60px;
    font-size: 28px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.btn-view-services:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); /* Matching navbar color */
    border: 2px solid black;
}



/* Style for Leave a review Button */
.btn-leaveAReview {
    background-color: #000000; 
    color: rgb(255, 255, 255);
    padding: 25px 60px;
    font-size: 28px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.btn-leaveAReview:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

footer { 
    background-color: #ffffff;
    font-size: 1em;
    font-style: bold;
    text-align: left;
    margin-top: 3em;
    padding: 1em;
    min-height: 100px;
    position: relative; /* Fix the footer to the bottom */
    bottom: 0;
    width: 100%;
    border-top: #c7c7c9 2px solid;
   
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-top: 5em;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #909091;
    color: #ffffff !important;
  
  }
  
  .fa-linkedin {
      background: #909091;
      color: #ffffff !important;
    }
    
    .fa-youtube {
      background: #909091;
      color: #ffffff !important;
    }
    
    .fa-instagram {
      background: #909091;
      color: #ffffff !important;
    }
  
