h1{
    text-align: start;
}

h2{
    color:white;
    background-color: #4681AC;
    padding: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}
.buttonSchedule{
    color:white;
    background-color: #4080AF;
    padding: 100px 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    border-color: #4080AF;
    margin: 35px;

}
.buttonTimeOff{
    color:white;
    background-color: #4681AC;
    padding: 100px 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    border-color: #4681AC;
    
    margin: 35px;

}
.container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}



.buttonLogHours{
    color:white;
    background-color: #4681AC;
    padding: 100px 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    border-color: #4681AC;
    margin: 35px;
    

}
.buttonLogHours:hover{
    background-color: green
}
.buttonSchedule:hover{
    background-color: green
}
.buttonTimeOff:hover{
    background-color: green
}

.buttonLogHours:active{
    transform: translateY(4px);
}
.buttonSchedule:active{
    transform: translateY(4px);
}
.buttonTimeOff:active{
    transform: translateY(4px);
}
.button:active{
    transform: translateY(4px);
}

p{
    float: right;
    text-align: center;
}
p2{
    float: left;
}
p3{
    line-height: 10px;
}

.button{ 
 background-color: black;
 border: none;
 color: white;
 padding: 15px 30px;
 text-align: center;
 border-radius: 15px;
}} 

